/* Reset CSS */
/* universal selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header,
footer {
  padding: 20px;
  background-color: #333;
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-size: 18px;
}

main {
  padding: 8px;
}

form {
  display: flex;
  margin-bottom: 4px;
}

form input {
  width: 100%;
  padding: 4px;
}

button {
  background-color: #333;
  color: whitesmoke;
  padding: 4px 8px;
}

input[type='checkbox'] {
  margin-right: 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.completed {
  text-decoration: line-through;
  color: lightgreen;
}

.btn-delete {
  background: lightcoral;
  border: none;
  padding: 2px 4px;
  margin-left: 4px;
  cursor: pointer;
}

.todo-actions {
  display: flex;
  align-items: center;
}
